.mypikchas {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    padding: 0;
    height: 30px;
    width: auto;
  }
  
  .mypikchas .photo {
    flex: 1 0 300px;
    list-style: none;
    margin: 2px;
  

   }   @media screen and (max-width: 960px) and (min-width: 640px)


{}
  
  /* @media only screen and (min-width: 640) {
      .mypikchas
            
  }

  @media only screen and (max-width: 920) {
        .mypikchas
  } */